.nonepage {
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.);
    border-radius: 5px;
}
.nonepage p {
    font-size: 30px;
    text-align: center;
    line-height: 200px;
}